@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("background.jpg");
    background-size: 360px 590px;
    background-repeat:no-repeat;
    background-position: center;
    background-position-y: 2vh;
    background-color: #fedcd0;
}
#gameSpace{
 margin-top: 30px;
position: relative;
 display: none;
 animation-name: tabuleiro;
 animation-duration: 1s;
}
#instruções p{
    width: 310px;
    animation-name: fade;
 animation-duration: 1s;
}

.tabelas{
    display: flex;
    flex-direction: column-reverse;
}

.cedula{
    height: 42px;
    width: 42px;
    border: 1px solid #421a1a;

}
.cedula:hover{
    border: 1px solid #78b2ff;
}

.discoVermelho{
    position: absolute;
    width: 50px;
    height: 40px;
    background-color: transparent;
    image-rendering: optimizeQuality;
    animation-name: bolinha;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transform: translateY(3px) translateX(-4px);;
}

.discoPreto{
    position: absolute;
    width: 50px;
    height: 40px;
    background-color: transparent;
    animation-name: bolinha;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transform: translateY(3px) translateX(-4px);;
   
}
/*/ keyframes /*/

@keyframes bolinha{
    0%{
        transform: translateX(3px);
        width: 30px;
        height: 20px;
        margin-top: -130px; 
    }
    20%{
        transform: translateX(-4px);
        width: 50px;
        height: 40px;
    }
    60%{
        height: 65px;
    }
    80%{
        height: 40px;
        margin-top: 0px; 
    }
    85%{
       transform:translateY(9px) translateX(-6px);
        height: 25px;
        width: 60px;
    }
    90%{
        transform: translateY(3px) translateX(-4px);
        margin-top:-10px;
        height: 40px;
        width: 50px;
    }
    98%{
        margin-top: -1px;
        height: 39px;
        width: 49px;
    }
    100%{
        margin-top: 0px;
        height: 40px;
        width: 50px;
    }
}
@keyframes tabuleiro{
    from{ 
        top: -100px;
        opacity: 0;
    }
    to{ 
        top: 0px;
        opacity: 1;
    
    }
}
@keyframes fade{
    from{ 
        opacity: 0;
    }
    to{ 
        opacity: 1;
    
    }
}


/*/ keyframes /*/
#menu{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
   
    width: 100vw;
    text-align: center;
   
}
header h1{
    animation-name: fade;
    animation-duration: 1s;
    padding-top: 70px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 80px;
    letter-spacing: 5px;
    padding-bottom: 20px;
    font-family:'Montserrat', sans-serif;
    color: transparent;
    background: #b36565;
   -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
#menu button{
    animation-name: fade;
    animation-duration: 1s;
    box-shadow: 3px 4px 0px 0px #8a2a21;
	background-color:#e26b61;
	border-radius:8px;
	border:1px solid #e26b61;
	cursor:pointer;
	color:#ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
	font-size:30px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
    margin-bottom: 30px;
}
#menu footer{
    animation-name: fade;
    animation-duration: 1s;
    margin-top: 30px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
   
}
#menu footer p{
   font-size: 15px;
}
#menu footer ul{
  text-align: center;
    font-family: 'Montserrat', sans-serif;

}
#menu footer ul a{

   text-decoration: none;
   color: #8a2a21;;
  }
  #menu footer ul a:hover{

    text-decoration: none;
    color: #e63120;;
   }
#menu button:hover {
    background-color:#f24437;
}
#menu button:active {
	position:relative;
	top:1px;
    left:2px;
    box-shadow: 0px 2px 0px 0px #8a2a21;
}


#instruções{
 width: 90vw;
 display: none;
 flex-direction: column;
 align-items: center;
 text-align: center;
 font-family: 'Montserrat', sans-serif;
}

#instruções p{
  margin-bottom: 20px;
}
#voltar{
    animation-name: fade;
    animation-duration: 1s;
    margin-top: 15px;
    display: none;
    box-shadow: 3px 4px 0px 0px #8a2a21;
	
	background-color:#e26b61;
	border-radius:8px;
	border:1px solid #e26b61;
	cursor:pointer;
	color:#ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
#voltar:hover {
	background-color:#f24437;
}
#voltar:active {
	position:relative;
	top:1px;
    left:2px;
    box-shadow: 0px 2px 0px 0px #8a2a21;
}

#reset{
    animation-name: fade;
    animation-duration: 1s;
    margin-top: 10px;
    display: none;
    box-shadow: 3px 4px 0px 0px #8a2a21;
	
	background-color:#e26b61;
    padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}

#reset:hover {
	background-color:#f24437;
}

#reset:active{
    position:relative;
	top:1px;
    left:2px;
    box-shadow: 0px 2px 0px 0px #8a2a21;
}


#jogadores{
    width: 200px;
}

#escolherJogadores{
    display: none;
    flex-direction: column;
    text-align: center;
}

#escolherJogadores h2{
	color:#e26b61;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
}

#escolherJogadores p{
	color:#e26b61;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
}

.imgJogadores{
    height: 60px;
    width: 70px;
}

.imgJogadores:hover{
    background-color:#e26b61;
    border-radius: 50%;
}

#player2{
    position: relative;
}

#alert{
    background-color:#e26b61;
	border-radius:8px;
	border:1px solid #e26b61;
	cursor:pointer;
	color:#ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
    position: absolute;
    width: 200px;
    left: 12%;
}